@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
  font-size: 16px;
}

#backg {
  display: block;
  width: 100%;
}

.offset:before {
  display:block;
  height:4rem;
  content:"";
  margin-top: -4rem;
}

.no-margin {
  margin-bottom: 0;
}
/*--- Navigation --*/
.btn-info {
  border: 2px solid #000!important;
}
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
}
nav.navbar {
  background: rgba(0,0,0,0.6)!important;
}
.navbar-brand {
  color: #32b5e9!important;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff!important;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #32b5e9!important;
}

.img-width {
  width: 100%;
  height: auto;
}

#appEvidence {
  margin-bottom: 2rem;
}

/*--- Landing Page --*/
div.carousel.landing {
  height: auto;
}
.carousel-inner img {
    width: 100%;
    height: auto;

  }
  .landing {
    z-index: 10!important;
    
  }
  .landing .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
  }
  
  .landing .carousel-caption h1 {
    font-size: 500%;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
  }
  
  .landing .carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
  }
  
  .btn-outline-secondary {
    color: #fff!important;
    border: 4px solid #fff!important;
    letter-spacing: .1rem;
    font-size: 1.2rem!important;
    border-radius: 0!important;
    padding: .6rem 2.5rem!important;
    
    
  }
  .btn-outline-secondary:hover {
    background-color: #fff!important;
    color: #000!important;
    border: 4px solid #fff!important;
  }

  /*--- About me --*/
.jumbotron {
  padding-top: 0!important;
  margin-bottom: 0!important;
}

.collapse .jumbotron {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}
.notice {
  background-color: #0b9912;
  color: white;
}



 /*--- Fixed Background --*/
 /*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixedHobby,
#fixed {

  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

#fixed {
  background-image: url('../img/mac.png');
}
#fixedHobby {
  background-image: url('../img/rugby.png');
}
  
/*--- Key Skills section --*/
.header {
  padding-top: 5rem;
}
.bold {
  font-weight: 700;
}

.my-break {
  border: 1px solid #505962;
}

/*--- Education --*/





.half-col-img {
  width: 100%;
  height:auto;
  max-width: 100%;
  box-shadow: 10px 10px 5px grey;
  padding: 0!important;
}

.carousel-caption {
  position: absolute;
  top: 83%;
  transform: translateY(-50%);
}
.carousel-caption h2{
  font-weight: 700;
  letter-spacing: .1rem;
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.text-light {
  color: white;
}
footer h4 {
  padding-top: 2rem;
  font-size: 3rem;
}
.hr-light {
  border: 1px solid #6e7174;
}
.hr-light-narrow {
  border: 1px solid #6e7174;
  width: 15px;
}


/*--- Technical Skills --*/
.progress {
  background-color: white!important;
}

/*--- Fix navbar --*/
@media (max-width: 1250px) {
  .navbar {
    font-size: .85rem;
  }
}

/*--- On Extra Large Break --*/
@media (max-width: 1200px) {
  .carousel-caption h1 {
    font-size: 440%!important;
  }
  .carousel-caption h3 {
    font-size: 180%!important;
  }
  .btn-outline-secondary {
    padding: .3rem 2rem!important;
  }
}

/*--- On Large Break --*/
@media (max-width: 992px) {

  .carousel-caption h1 {
    font-size: 400%!important;
  }
  .carousel-caption h3 {
    font-size: 150%!important;
  }
  .btn-outline-secondary {
    padding: .3rem 2rem!important;
  }
  .carousel-caption {

    top: 76%;

  }
  .carousel-caption h2{
    font-size: 3.3rem;
  }

}

/*--- On Medium Break --*/
@media (max-width: 768px) {
   .header-responsive {
     font-size: 4rem!important;
   }
  .carousel-caption h1 {
    font-size: 350%!important;
  }
  .carousel-caption h3 {
    font-size: 160%!important;
  }
  .btn-outline-secondary {
    padding: .3rem 1.7rem!important;
  }
  .carousel-caption {

    top: 73%;

  }
  .carousel-caption h2{
    font-size: 2.8rem;
  }

}

@media (max-width: 600px) {
  .header-responsive {
    font-size: 3rem!important;
  }
}

/*--- On Small Break --*/
@media (max-width: 576px) {
  .carousel-caption h1 {
    font-size: 300%!important;
  }
  .carousel-caption h3 {
    font-size: 140%!important;
  }
  .btn-outline-secondary {
    padding: .2rem 1rem!important;
    font-size: .9rem!important;
  }
  .carousel-caption {
    top: 78%;

  }
  .carousel-caption h2{
    font-size: 2.4rem;

  }
  
}

/*--- On Extra Small Break --*/
@media (max-width: 575px) {
  .header-responsive {
    font-size: 2.5rem;
  }
}

/*--- On Extra Small Break --*/
@media (max-width: 421px) {
  .navbar .navbar-brand {
    font-size: 1rem;
  }
  .carousel-caption h1 {
    font-size: 150%!important;
  }
  .carousel-caption h3 {
    font-size: 100%!important;
    margin-bottom: 0;
  }
  .btn-outline-secondary {
    
    padding: .1rem .6rem!important;
    font-size: .9rem!important;
  }
  .notice p {
    font-size: 1rem;
  }
  .header {
    font-size: 2rem!important;
  }
  .btn {
    margin-bottom: 1rem!important;
  }
  .carousel-caption h2{
    font-size: 1.2rem;

  }
  .btn-info {
    font-size: .8rem!important;
  }
}